@model List<OBSC.Entities.MainTb>
<h1>MAIN Admin Page</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bus No.</th>
      <th scope="col">Time dept</th>
      <th scope="col">Route</th>
      <th scope="col">Unit</th>
      <th scope="col">Cor</th>
      <th>Pass Ticket</th>
      <th>Bag Ticket</th>
      <th scope="col">Passenger</th>
      <th scope="col">Drivers Name.</th>
      <th scope="col">Conductors Name</th>
      <th scope="col">Date</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var main in Model)
    {
    <tr>
      <th scope="row">@main.Id</th>
      <td>@main.BusNo</td>
      <td>@main.TimeDept</td>
      <td>@main.RouteDestination</td>
      <td>@main.Unit</td>
      <td>@main.CorNumber</td>
      <td>@main.PassTicket</td>
      <td>@main.BaggTicket</td>
      <td>@main.Passenger</td>
      <td>@main.DriversName</td>
      <td>@main.ConductorsName</td>
      <td>@main.Date</td>
      <td>
          <a  class="btn btn-primary" href="">Update</a>
          <a class="btn btn-success" href="">View Data</a>
          <a class="btn btn-danger" href="">Delete</a>
       </td>
    </tr>
    }
    
   
  </tbody>
</table>